{{ $HTTP_PORT := .Env.HTTP_PORT | default "8217" }}

server {
    listen       {{ $HTTP_PORT }};
    listen  [::]:{{ $HTTP_PORT }};

    access_log  /var/log/nginx/server.access.log  main;
    error_log /var/log/nginx/server.error.log;
    root   /usr/share/nginx/html;

    location ~* \.mjs$ {
        types {
            text/javascript mjs;
        }
    }

    location / {
        try_files $uri /index.html;
    }
    
    #error_page  404              /404.html;

    # redirect server error pages to the static page /50x.html
    #
    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}
